
<ul class="nav nav-tabs" bs-nav>
  <li ng-class="{active: $path() == '/'}"><a href="#/">Accueil</a></li>
  <li ng-class="{active: $path() == '/etat'}"><a href="#/etat">Etat du WAF</a></li>
  <li ng-class="{active: $path() == '/manage'}"><a href="#/manage">Gestion des sites</a></li>
  <li ng-class="{active: $path() == '/whitelists'}"><a href="#/whitelists">Gestion des white lists</a></li>
  <li ng-class="{active: $path() == '/journalisation'}"><a href="#/journalisation">Journalisation</a></li>
</ul>
