<h1 class="cover-heading ng-scope">Gestion des White lists</h1>
<div>
<form name="form" class="container" ng-controller="MainCtrl">

  <input
    bs-switch
    ng-model="isSelected"
    type="checkbox"
    switch-active="{{ isActive }}"
    switch-on-text="{{ onText }}"
    switch-off-text="{{ offText }}"
    switch-on-color="{{ onColor }}"
    switch-off-color="{{ 'danger' }}"
    switch-animate="{{ animate }}"
    switch-size="{{ size }}"
    switch-label="{{ label }}"
    switch-icon="{{ icon }}"
    switch-radio-off="{{ radioOff }}"
    switch-label-width="{{ labelWidth }}"
    switch-handle-width="{{ handleWidth }}"
    switch-wrapper="{{ wrapper }}"
    ng-value="'uno'"
    ng-true-value="'yep'"
    ng-false-value="'nope'"
    switch-inverse="{{ !inverse }}"
    switch-readonly="{{ readonly }}">

  <input
    bs-switch
    ng-model="isSelected"
    type="checkbox"
    switch-active="{{ isActive }}"
    switch-on-text="{{ onText }}"
    switch-off-text="{{ offText }}"
    switch-on-color="{{ onColor }}"
    switch-off-color="{{ offColor }}"
    switch-animate="{{ animate }}"
    switch-size="{{ size }}"
    switch-label="{{ label }}"
    switch-icon="{{ icon }}"
    switch-radio-off="{{ radioOff }}"
    switch-label-width="{{ labelWidth }}"
    switch-handle-width="{{ handleWidth }}"
    switch-wrapper="{{ wrapper }}"
    ng-value="'dos'"
    ng-true-value="'yep'"
    ng-false-value="'nope'"
    switch-inverse="{{ !inverse }}">

  {{ isSelected }}

  <input type="button" value="toggle value" ng-click="toggle()">
  <input type="button" value="toggle value / activation" ng-click="toggle(); toggleActivation();">
</form>
</div>
